@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,700;0,900;1,300;1,400;1,700&family=Manrope:wght@300;400;500;600&display=swap');

/* Utility Classes */
.logo-font {
    font-family: 'Audiowide', cursive;
    color: #054A91;
}

.copy-font {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.copy-font-bold {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.blue {
    color: #054A91;
}

.teal {
    color: #51A3A3;
}

.white {
    color: #fffeff;
}

.grey {
    color: #d6d6d6;
}

body {
    margin-top: 170px;
}

/* Search Bar */
.search-bar {
    width: 65%;
    border: 2px solid #51A3A3;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

/* Remove outline from search bar when on focus.
Code from: https://www.codegrepper.com/code-examples/html/bootstrap+remove+blue+outline+input */
.search-bar:focus {
    outline: none;
}

.search-btn {
    border: 2px solid #51A3A3;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.search-btn:hover {
    background-color: #D6D6D6;
}

/* Hero Section */
.hero-container {
    background: url('/media/color-laptop.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 20px;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.shop-now-btn {
    border: 3px solid #054A91;
    border-radius: 10px;
}

.site-btn {
    color: #054A91;
    padding: 5px 8px;
    border: 3px solid #054A91;
    border-radius: 10px;
}

.site-btn:hover {
    color: #fffeff;
    background-color: #054A91;
}

#sort-selector {
    width: 65%;
    border: 2px solid #51A3A3;
    border-radius: 10px;
}