{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block coremeta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Google Font Audiowide -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,700;0,900;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/970bd2bd30.js" crossorigin="anonymous"></script>
    {% endblock%}

    {% block extra_js%}
    {% endblock %}

    <title>Amirite Tech {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="top-nav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <!-- Main Logo Area-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font my-0">AMIRITE</h1>
                </a>
            </div>
            <!-- Search Form -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="form-control search-btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                        <input type="text" name="q" class="search-bar" placeholder="Search our Site">
                    </div>
                </form>
            </div>
            <!-- Account and Shopping Bag Links-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a href="#" id="user-options" class="blue nav-link" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0 blue">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="#" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="#" class="dropdown-item">My Account</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Log out</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Shopping Bag link -->
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}"
                            class="nav-link">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0 blue">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Including HTML from templates/includes files -->
        <div class="row bg-white">
            <nav class="col navbar navbar-expand-lg w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars blue"></i>
                </button>
                <!-- Main Logo Area-->
                <div class="my-auto mx-auto d-lg-none">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h1 class="logo-font my-0">AMIRITE</h1>
                    </a>
                </div>
                {% include 'includes/main-nav.html' %}
              </nav>
        </div>
        <!-- Free Shipping Banner -->
        <div id="delivery-banner" class="row text-center">
            <div class="col">
                <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}</h4>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header%}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


</body>

</html>