{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="product-image">
                <a href="{{ product.image.url }}" target="_blank">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details">
                <h5 class="prduct-title"><strong>{{ product.name }}</strong></h5>
                <hr>
                <div class="card-body">
                    <p class="product-description">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">€{{ product.price }}</li>
                    {% if product.category %}
                        <li class="list-group-item">
                            <a href="{% url 'products' %}?category={{product.category.name}}" class="text-muted">
                                {{ product.category.friendly_name }}
                            </a>
                        </li>
                    {% endif %}
                    {% if product.rating %}
                        <li class="list-group-item">{{ product.rating }} <i class="fas fa-star"></i></li>
                    {% else %}
                        <li class="list-group-item">No rating exists</li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    <!-- <a href="#" class="card-link site-btn">Add <i class="fas fa-shopping-bag fa-lg"></i></a>
                    <a href="#" class="card-link site-btn">Learn More</a> -->
                    <form action="" class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <span>Quanty:</span>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="site-btn">
                                    <span>
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Return to shop.</span>
                                </a>
                                <button type="submit" class="site-btn" vlaue="Add">Add <i class="fas fa-shopping-bag fa-lg"></i></button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}