{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Products</h2>
            <!-- Product quick selectors -->
            {% for c in current_categories %}
                <a href="{% url 'products' %}?category={{c.name}}" class="text-decoration-none d-none d-md-inline-block">
                    <span class="site-btn">{{ c.friendly_name }}</span>
                </a>
            {% endfor %}
            <hr>
        </div>
    </div>

    <!-- Sorting dropdown selector-->
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto d-flex mx-auto justify-content-center">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
        </div>
        <!-- Product Counter -->
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span>
                    <a href="{% url 'products' %}" class="teal">Products Home</a> |
                </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found in <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>

    <!-- Products -->
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card py-2 px-2" style="width: 18rem;">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <hr>
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">€{{ product.price }}</li>
                        {% if product.category %}
                            <li class="list-group-item">
                                <a href="{% url 'products' %}?category={{product.category.name}}" class="text-muted">
                                    {{ product.category.friendly_name }}
                                </a>
                            </li>
                        {% endif %}
                        {% if product.rating %}
                            <li class="list-group-item">{{ product.rating }} <i class="fas fa-star"></i></li>
                        {% else %}
                            <li class="list-group-item">No rating exists</li>
                        {% endif %}
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link site-btn">Add <i class="fas fa-shopping-bag fa-lg"></i></a>
                        <a href="{% url 'product_detail' product.id %}" class="card-link site-btn">Learn More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}